html, body{
  background-color: rgb(39, 39, 41);
}

#CS{
 background-image: url("Assets/Images/banner-background.jpg");
 background-repeat: no-repeat;
 background-size: 100%;
 width: auto;
 max-width: 100%;

}

#CS-text{
  background-color: rgba(105, 105, 105, 0.3);
  width: 750px;
  height: 200px;
}

#CS-logo{
  padding-left: 180px;
}

.hidden{
  display: none;
}

.card{
  min-height: 525px;
  height: 525px;
  max-height: 525px;

  min-width: 270px;
  width: 290px;
  max-width: 290px;
}

.play{
  position: absolute;                 
  bottom: 1%;
  left: 40%;
}